<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body class="container">

    <header>
        <% include ../partials/header %>
    </header>

    <main>
        <div class="jumbotron">
            <h2>Promociones destacadas</h2>
            <div class="wrap">
                <div class="isotope__wrapper">
                    <div class="panel isotope" id="isotope" style="position:relative;height:3520px;">
            		    <% resultado.docs.forEach(function(doc) { %>
                        <div class="place parks fitnesshealth " data-color="#f9c700" data-masonry-options="{"gutter": 30 }">
                            <a href="http://localhost:2007/user/promo/<%= doc._id %>">
            			        <img class="lead-image imgix" src="<%= doc.urlPhoto %>"/>
                            </a>
                            <h3><b><%= doc.title %></b></h3>
            			    <div class="address"><i><%= doc.summary %></i></div>
            				<div class="marker-info"><%= doc.description %></div>
                            <div class="marker-meta">
                                <div class="explore">
                                    <a class="apercu" href="http://localhost:2007/user/promo/<%= doc._id %>">Detalle</a>
                                </div>
                            </div>
                        </div>
            		    <% }); %>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <footer>
        <% include ../partials/footer %>
    </footer>
</body>
</html>