<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body class="container">

    <header>
        <% include ../partials/header %>
    </header>

    <main>
        <div class="row">
            <div class="col-sm-8">
            
                <div class="jumbotron">
                    <h2>Promociones destacadas</h2>

					<span>
					    <% resultado.docs.forEach(function(doc) { %>
                        <ul>
                            <a href='<%= doc.link %>'>
    					        <li>
                                    <h4><b><%= doc.title %></b></h4></br>
        					        <i><%= doc.summary %></i></br>
        					        <%= doc.description %>
    					        </li>
                           </a>
                        </ul>
					    <% }); %>
					</span>
                </div>
                
            </div>
            <div class="col-sm-4">
                
                <div class="well">
                    <h3>Bienvenido</h3>
                    <a href="http://localhost:2007/user"><%= perfil.doc.email%></a>
                </div>

            </div>
        </div>
    </main>

    <footer>
        <% include ../partials/footer %>
    </footer>
    
</body>
</html>