<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body class="nabe-page trastoo">
        <div class="wrap">
            <header class="header">
                <% include ../partials/header %>
            </header>
            <div class="header__banner">
                <h1 class="header__title" data-loc="">Perfil usuario</h1>
                <p class="header__tagline apercu">
                 Mantén tus datos actualizados y tu perfil al día en todo momento para que la comunicación contigo y con tus contactos sea la mejor experiencia posible. Tu email es tu nombre de usuario, por lo que si necesitas cambiar tu dirección de email lo tendrás que hacer a través del formulario de contacto.
                </p>
            </div>
            <input type="hidden" value="#F5F5F1" id="nabe_color">
            <nav class="control-views view__select">
                <div class="view__icon now view__current">
                    <svg class="circle-border" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 72 72"><g fill="none" stroke="#000" stroke-width="1.879" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10"><path d="M37.6 48.1H12.2v-6h25.4l6.1 2.5c.5.2.5.9 0 1.1l-6.1 2.4zM37.6 42v6.1" vector-effect="non-scaling-stroke"></path><path d="M44 45c-3.5-5.2 3.1-12.4 5.3-9.8 2 2.4-5.9 5.8-9.4.9-3.5-5 2.1-12.9 5-10s-5.2 7-9.5 2.9c-3.7-3.6.3-7.8.3-7.8" vector-effect="non-scaling-stroke"></path><path d="M17.2 48.1v5.1c0 .2.2.4.4.4h35.5c.2 0 .4-.2.4-.4V17.8c0-.2-.2-.4-.4-.4H17.6c-.2 0-.4.2-.4.4V42" vector-effect="non-scaling-stroke"></path></g></svg>
                </div>
                <span class="view__text">
                    <h2><% if (perfil.doc.name){%><%=perfil.doc.name%><%} else{%><%=perfil.doc.email%><%}%></h2>
                </span>
            </nav>
            <div class="isotope__wrapper">
               <div class="panel isotope" id="isotope" style="position:relative;">
                <form action="http://localhost:2007/user" method="POST">
                    <div style="width:50%;text-align:center;float:left;padding-left:10px;">
                        <label>Nombre</label><input type="text" id="name" name="name" value="<% if (perfil.doc.name){%><%= perfil.doc.name%><%}%>">
                    </div>
                    <div style="width:50%;text-align:center;float:right;padding-left:10px;padding-right:10px;">
                        <label>Apellidos</label><input type="text" id="surename" name="surename" value="<% if (perfil.doc.surename){%><%= perfil.doc.surename%><%}%>">
                    </div>
    				<div style="width:50%;text-align:center;float:left;padding-left:10px;">
                        <label>Email</label><input type="text" id="surename" name="surename" value="<%= perfil.doc.email%>" disabled=true>
                    </div>
                    <div style="width:50%;text-align:center;float:right;padding-left:10px;padding-right:10px;">
                        <label>Facebook</label><input type="text" id="facebook" name="facebook" value="<% if (perfil.doc.facebook){%><%= perfil.doc.facebook%><%}%>">
                    </div>
    				<div style="width:50%;text-align:center;float:left;padding-left:10px;">
                        <label>Twitter</label><input type="text" id="twitter" name="twitter" value="@<% if (perfil.doc.twitter){%><%= perfil.doc.twitter%><%}%>">
                    </div>
                    <div style="width:50%;text-align:center;float:right;padding-left:10px;padding-right:10px;">
                        <label>Google</label><input type="text" id="google" name="google" value="<% if (perfil.doc.google){%><%= perfil.doc.google%><%}%>">
                    </div>
                    <div width="100%" style="text-align:center;margin-top:10px;margin-bottom:30px;">
                        <button onclick="submit();">Actualizar</button>
                    </div>
                </form>
                </div>
            </div>
        <footer>
            <% include ../partials/footer %>
        </footer>
    </div>
</body>
</html>